/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
/src/german_bank_csv_to_ledger_cli/conf.clj
/src/german_bank_csv_to_ledger_cli/conf.edn
/src/german_bank_csv_to_ledger_cli/mybackup.edn
/.calva/
/.clj-kondo/
/.lsp/
output
./ledger-entry.html