{"PP.7079.PP . HUEL, Ihr Einkauf bei HUEL" "Expenses:Food:Powder"
 "PP.7079.PP . MANA DACH, Ihr Einkauf bei MANA DACH" "Expenses:Food:Powder"
 "Telefonica Germany GmbH + Co. OHG" "Expenses:Leisure:Digital:Internet"
 "1u1 MAILUMEDIA GMBH-WEB.DE" "Expenses:Leisure:Digital:Email"
 "ALDI" "Expenses:Food:Supermarket"
 "TK Maxx" "Expenses:Leisure:Clothes:Outfit"}